.header {
    height: fit-content;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header > a {
    margin: 0;
    padding: 0;
}

.header > a > svg {
    display: block;
    height: 1.5rem;
    width: fit-content;
}

.prices {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.prices > a {
    background: var(--color-primary);
    color: var(--color-on-primary) ;
    padding: 1.5rem;
    border-radius: 8px;
    height: auto;
    min-width: 300px;
    box-sizing: border-box;
    aspect-ratio: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prices > a > div > h3 {
    font-size: var(--font-body-large);
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 0.75rem;
}

.prices > a > div > ul > li {
    font-size: var(--font-body-small);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.125rem;
}

.prices > a > div > ul > li > svg {
    height: 1rem;
    width: auto;
}

.prices > a > p {
    font-size: var(--font-body-small);
    text-decoration: underline 1px;
    text-underline-offset: 0.25rem;
    margin-bottom: 0.5rem;
}

.biography {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.biography > p {
    max-width: 50ch;
    text-align: center;
}

.reviews {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.reviews > div {
    max-width: 350px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-secondary-container);
    color: var(--color-on-secondary-container);
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 8px;
}

.reviews > div > div:nth-of-type(1) > span {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}

.reviews > div > div:nth-of-type(1) > span > svg {
    height: 1rem;
    width: auto;
}

.reviews > div > div:nth-of-type(1) > h3 {
    font-size: var(--font-title-small);
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 1rem;
}

.reviews > div > div:nth-of-type(1) > p {
    font-size: var(--font-body-small);
    font-weight: 400;
    letter-spacing: -0.01em;
}

.reviews > div > div:nth-of-type(2) {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.125rem;
}

.reviews > div > div:nth-of-type(2) > img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.reviews > div > div:nth-of-type(2) > p {
    font-size: var(--font-body-small);
    font-weight: 400;
    letter-spacing: -0.01em;
}

.questions {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions > h2 {
    font-size: var(--font-title-medium);
    font-weight: 700;
    letter-spacing: -0.02em;
}

.questions > div {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 50%;
}

.questions > div > div:nth-of-type(1) {
    margin: 0;
    padding: 1rem 0;
    border-bottom: solid 1px var(--color-outline-variant);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.questions > div > div:nth-of-type(1) > span {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.questions > div > div:nth-of-type(1) > span > svg {
    height: 1.5rem;
    width: 1.5rem;
    transform-origin: 50% 50%;
    transition: transform 0.5s ease;
}

.questions > div > div:nth-of-type(1) > span > svg.active {
    transform: rotate(-180deg);
}

.questions > div > div:nth-of-type(2) {
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.questions > div > div:nth-of-type(2).active {
    max-height: 500px;
}

.questions > div > div:nth-of-type(2) > p {
    padding: 1rem 0 1.5rem 0;
}